
<ion-slides [options]="option" class="ion-margin-top">
  <ion-slide>
    <ion-card >
      <ion-img [src]="'https://motosportyamaha.com.br/wp-content/uploads/2021/10/Card_Pronta_Entrega_01.png'"></ion-img>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card >
      <ion-img [src]="'https://motosportyamaha.com.br/wp-content/uploads/2021/10/Card_Atendimento_Online.png'"></ion-img>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card >
      <ion-img [src]="'https://motovia.com.br/wp-content/uploads/2020/03/Post-1803-Fazer-250-Corrigido.png'"></ion-img>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card >
      <ion-img [src]="'https://picomotos.com.br/wp-content/uploads/2021/02/WhatsApp-Image-2021-12-01-at-12.02.23-3.jpeg'"></ion-img>
    </ion-card>
  </ion-slide>
</ion-slides>
