<ion-grid>
  <ion-row>
    <ion-col class="colimg">
      <div class="teste">
        <div class="alinhamento">
          <img src="https://www.honda.com.br/motos/sites/hda/files/2017-07/icon-aprenda-pilotar-honda.png" class="imgMoto">
        </div>
        <div >
          <p class="tituloCard"><b>Aprenda a pilotar</b></p>
          <p class="SubtituloCard">Conheça as nossas dicas e descubra as melhores práticas de pilotagem para aproveitar tudo que só uma Honda pode proporcionar para você.</p>
        </div>
        <div class="CardButton">
          <a  href=""><b>Conheca nossos cursos</b></a>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
