.colimg{
  margin-right: 20px;
  margin-left: 20px;

}

.teste{
  background-image: url("https://i0.wp.com/blogandarilho.com.br/wp-content/uploads/2020/05/Melhores-lugares-para-ver-o-por-do-sol-ao-redor-do-mundo-Maasai-mara-national-reserve-Kenya.jpg?fit=900%2C600&ssl=1");
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 1s;
  border-radius: 2%;
  padding-bottom: 10px;
}



.alinhamento{
  padding-top: 40px;
}

.imgMoto{
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 1s;
}

.teste:hover .imgMoto{
  transform: translateY(-15px);
}

.tituloCard{
  font-size: 30px;
  text-align: center;
  transition: 1s;
}

.teste:hover .tituloCard{
  transform: translateY(-10px);
}

.SubtituloCard{
  font-size: 20px;
  text-align: center;
  transition: 1s;
}

.teste:hover .SubtituloCard{
  transform: translateY(-10px);
}

.CardButton{
  position: relative;
  height: 40px;
  width: 150px;
  border-radius: 7px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: block;
  margin: auto;
  text-align: center;
  background-color: rgb(255, 55, 0);
  transition: 1s;
}

.teste:hover  .CardButton{
  transform: translateY(-10px);
  box-shadow: 0 15px 20px #000;
  background-color: rgb(255, 10, 0);
}

a{
  text-decoration: none;
  color: white;
}
