.colimg{
  margin-right: 20px;
  margin-left: 20px;

}

.teste{
  background-image: url("https://thumbs.dreamstime.com/b/nuvens-no-c%C3%A9u-azul-34324292.jpg");
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 1s;
  border-radius: 2%;
  padding-bottom: 10px;
  color: white;
}

.alinhamento{
  padding-top: 40px;
}

.icone{
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 1s;
}

.teste:hover .icone{
  color: rgb(28, 179, 255);
  transform: translateY(-20px);
}

.tituloCard{
  font-size: 30px;
  text-align: center;
  transition: 1s;
}

.teste:hover .tituloCard{
  transform: translateY(-10px);
}

.SubtituloCard{
  font-size: 20px;
  text-align: center;
  transition: 1s;
}

.teste:hover .SubtituloCard{
  transform: translateY(-10px);
}

.CardButton{
  position: relative;
  height: 40px;
  width: 150px;
  border-radius: 7px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgb(133, 131, 234);
  transition: 1s;
}

.teste:hover  .CardButton{
  transform: translateY(-10px);
  box-shadow: 0 15px 20px #000;
  background-color: rgb(28, 179, 255);
}

a{
  text-decoration: none;
  color: white;
}
