<ion-grid>
  <ion-row>
    <ion-col class="colimg">
      <div class="teste">
        <div class="alinhamento">
          <ion-icon class="icone" name="location-sharp"></ion-icon>
        </div>
        <div >
          <p class="tituloCard">Há sempre uma <b>concessionaria</b> perto de você</p>
          <p class="SubtituloCard">São muitas <b>concessionarias</b> espalhadas por todo o Brasil. Descubra agora o endereço a unidade mais proxima</p>
        </div>
        <div class="CardButton">
          <a  href=""><b> Buscar Concessionarias</b></a>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
