<div class="titulo">
  <ion-text>Destaques</ion-text>
</div>

<ion-slides [options]="option" class="ion-margin-top">
  <ion-slide *ngFor="let i of MotosDestaque">
    <ion-card >
      <ion-img [src]="i.imagem"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{i.marca}}</ion-card-subtitle>
        <ion-card-title>{{i.modelo}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-slide>
</ion-slides>

