<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-welcome></app-welcome>
  <app-promocoes></app-promocoes>
  <app-chips></app-chips>
  <app-card-aprenda></app-card-aprenda>
  <app-slides></app-slides>
  <app-card-concessionaria></app-card-concessionaria>
  <app-marcas></app-marcas>
  <app-card-comentario></app-card-comentario>
</ion-content>
