
<ion-text>Tags mais pesquisadas: </ion-text>
<ion-chip>
  <ion-label color="primary">Chevrolet</ion-label>
</ion-chip>
<ion-chip>
  <ion-label color="secondary">Automatica</ion-label>
</ion-chip>
<ion-chip>
  <ion-label color="danger">Honda</ion-label>
</ion-chip>
<ion-chip>
  <ion-label color="success">Yamaha vs Honda</ion-label>
</ion-chip>
<ion-chip>
  <ion-label color="warning">Rtx 3080</ion-label>
</ion-chip>
<ion-chip>
  <ion-label color="primary">fan 160</ion-label>
</ion-chip>
<ion-chip>
  <ion-label color="secondary">kawasaki</ion-label>
</ion-chip>
<ion-chip>
  <ion-label color="danger">BMW</ion-label>
</ion-chip>
<ion-chip>
  <ion-label color="success">Trilha</ion-label>
</ion-chip>
<ion-chip>
  <ion-label color="warning">GTS</ion-label>
</ion-chip>

<hr>
