
<div class="containerr">
  <div class="cardc">
    <div class="box">
        <div class="content">
          <div class="DivRosto mx-auto">
            <img src="https://img.r7.com/images/rosto-humano-irreal-inteligencia-artificial-19022019142837823" class="imgRosto">
          </div>
            <h3>Lurdes Camargo</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia dolores, in dolore a eos illum officiis nisi eum exercitationem explicabo impedit cumque mollitia odio atque! Modi eos magnam assumenda laboriosam.
            </p>
        </div>
      </div>
    </div>
    <div class="cardc">
        <div class="box">
            <div class="content">
                <div class="DivRosto mx-auto">
                  <img src="https://mega.ibxk.com.br/2015/04/15/15175652635579.jpg?ims=610x" class="imgRosto">
                </div>
                <h3>Pedro Leonardo</h3>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia dolores, in dolore a eos illum officiis nisi eum exercitationem explicabo impedit cumque mollitia odio atque! Modi eos magnam assumenda laboriosam.
                </p>
            </div>
        </div>
    </div>
    <div class="cardc">
        <div class="box">
            <div class="content">
              <div class="DivRosto mx-auto">
                <img src="https://blog.barbaderespeito.com.br/wp-content/uploads/2018/09/Rosto-redondo-300x293.png" class="imgRosto">
              </div>
                <h3>Bred Pit</h3>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia dolores, in dolore a eos illum officiis nisi eum exercitationem explicabo impedit cumque mollitia odio atque! Modi eos magnam assumenda laboriosam.
                </p>
            </div>
        </div>
    </div>
</div>
