body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.containerr{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.containerr .cardc{
  position: relative;
  width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
              inset -5px -5px 5px rgba(255, 255, 255, 0.5),
              5px 5px 5px rgba(0, 0, 0, 0.05),
              -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 30px;
}

.containerr .cardc .box{
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.containerr .cardc:hover .box{
  transform: translateY(-50px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #636363, #000000);
}

.containerr .cardc .box .content{
  padding: 20px;
  text-align: center;

}


.containerr .cardc .box .content h3{
  font-size: 1.1em;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}

.containerr .cardc:hover .box .content h3{
  color: #fff;
}



.DivRosto{
  height: 100px;
  width: 100px;
  color: #fff;
  transition: 0.5s;
  align-items: center;
  display: block;
    margin-left: auto;
    margin-right: auto
}
.imgRosto{
  height: 100%;

  border-radius: 50%;
}

.containerr .cardc:hover .DivRosto{
  height: 120px;
  width: 120px;
}

.containerr .cardc:hover .box .content p{
  color: #fff;
}
