

<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-searchbar placeholder="No que está pensando ? "></ion-searchbar>
</ion-toolbar>


<ion-toolbar>
  <ion-title size="small" class="titulo">Bem vindo ao maior app de motos da internet !</ion-title>
</ion-toolbar>

